    @import "variables/var";
    @import "normalize";
    html {
        font-size: 62.5%;
        // height: 100%;
    }
    
    body {
        box-sizing: border-box;
        position: relative;
        margin: 0;
        margin-right: 0px;
        padding: 0;
        height: 100%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        transition: 0.5s; //for side nav bar animation effect
    }
    
    section {
        height: 100%;
    }
    
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    
    .customButton {
        padding: 11px;
        text-transform: uppercase;
        border: 3px solid white;
        border-radius: 5px;
        color: $white;
        background-color: transparent;
        transition: background 500ms, color 500ms;
        &:hover {
            background: $white;
            color: $black;
            transition: background 500ms, color 500ms;
        }
    }
    
    // rest bootsrap a tag rules 
    a {
        color: inherit;
        text-decoration: none;
        &:link,
        &:visited,
        &:hover,
        &:active {
            color: inherit;
            text-decoration: none;
        }
    }
    
    .subtext {
        color: $grey;
    }
    
    // rest
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }
    
    //style header of the each section, section-header to be attached to container div 
    .section-header {
        margin-bottom: 50px;
        h1 {
            margin: 0;
            // font-size: 1.2rem;
        }
        h3 {
            margin-top: 7px;
        }
    }
    
    @import "pages/navbar";
    @import "pages/landing";
    @import "pages/projects";
    @import "pages/contact";
    @import "pages/footer";
    @import "pages/side-navbar";