
 /* 
 color:
 
 #E62739
 #E1E8F0
 #9068BE
 #6ED3CF



 */
body {
	background-color: #E1E8F0;
	font-size: 1.5em;
}
.main {
	text-align: center;
	margin-bottom: 30px;
	
	
}

section {
	position: relative;
}

.infoButton {
	text-align: center;
	cursor: pointer;
}

.infoButton h3 {
	margin-top: 0;
}

.info, .infoButton {
	
	border-radius: 10px;
	padding: 7px 10px;
	margin-top: 20px;
	background-color:rgba(255,0,0,0.1);
	
}

.info {
	display: none;
}


.controls {
	font-size: 1.8em;
}

.non-selectable {
	  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.heading {
   margin-bottom: 40px;
}

.switch {
	cursor: pointer;
	
}


.clock  {
	margin-left: auto;
	margin-right: auto;
    height: 300px;
    width: 300px;
    border: solid black 2px;
    border-radius: 150px;
    padding: 5px;
    
    background-clip: content-box;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	 z-index: 2;
	 background-color: #E62739;
     
}


#timer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	font-size: 5em;
	
	
	
}

#stage {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

#progress {
	background-color: #E1E8F0;
	width: 100%;
	height: 100%;
	
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	
}



@media only screen and (max-width: 786px) {
    body {
		font-size: 1.3em;
	}
	
	.controls {
	font-size: 2em;
	
   
}

}