#contact-wraper {
    color: $white;
    padding-top: 80px;
    background-color: $black;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../public/photo-1429051883746-afd9d56fbdaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    color: $black;
}

.custom-input {
    position: relative;
    left: 0px;
    width: 100%;
    height: 60px;
    border: 1px inset $grey;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: inset 3px 3px 3px 0px $grey;
    transition: left 300ms;
}

.custom-textarea {
    @extend .custom-input;
    height: 120px;
    padding-top: 12px;
}

.form-group {
    margin-bottom: 20px;
}

.send-button {
    @extend .customButton;
}

//on adding the class element will shake
.alert-form {
    animation-name: shake;
    animation-duration: 150ms;
    animation-iteration-count: 5;
    animation-direction: alternate;
    position: relative;
    left: 0px;
    transition: left 300ms;
    border: 2px solid $red;
    background: url("../images/warning.svg"), $light-red;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
}

@keyframes shake {
    // 0% {
    //     left: 0px;
    // }
    0% {
        left: 50px;
    }
    100% {
        left: -50px;
    }
}