#contact {
    background-color: $black;
    background-image: url("../public/photo-1429051883746-afd9d56fbdaf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-input {
    width: 100%;
    border: 2px inset $black;
    height: 60px;
    border-radius: 5px;
    padding-left: 10px;
    // background: rgba(0, 0, 0, 0.8);
}

.custom-textarea {
    @extend .custom-input;
    height: 120px;
}

.form-group {
    margin-bottom: 20px;
}