.navigation {
    height: 80px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: background-color 700ms;
}

.navigation-black {
    background: $black;
    transition: background 700ms;
}

.navigation-nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}

#logo-photo {
    height: 60px;
    transition: height 200ms;
    &:hover {
        transition: transform 200ms;
        animation-name: logo;
        animation-duration: 500ms;
        animation-direction: alternate;
        animation-iteration-count: 4;
        // animation-delay: 500ms;
    }
}

// hamburger icon side navbar hidden
#navgation-hamburger {
    position: relative;
    width: 50px;
    height: 45px;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 7px;
        width: 100%;
        background-color: #fefefe;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        &:nth-child(1) {
            top: 0;
        }
        &:nth-child(2) {
            top: 18px;
        }
        &:nth-child(3) {
            top: 36px;
        }
    }
}

// hamburger icon side navbar visible, the open class is added by JavaScript
#navgation-hamburger.open {
    @extend #navgation-hamburger;
    span {
        &:nth-child(1) {
            top: 18px;
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            opacity: 0;
            transform: rotate(135deg);
        }
        &:nth-child(3) {
            top: 18px;
            transform: rotate(-45deg);
        }
    }
}

// .open {
//     span:nth-child(1) {
//         top: 18px;
//         transform: rotate(135deg);
//     }
// }
// .line {
//     margin: 8px 0;
//     display: block;
//     height: 5px;
//     width: 38px;
//     background-color: #fefefe;
//     border-radius: 2px;
// }
@keyframes logo {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.2, 1.2);
    }
}