body {
	
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	background-image: url("../images/sunny.jpg");
	background-size: cover;
	
}

#main {
	background: rgba(255, 255, 255, 0.7);
	padding-bottom: 50px;
}

header {
	
	min-height: 250px;
	color: white;
	
}

header h1 {
	font-weight: 500;
	font-size: 1.9em;
	margin-bottom: 40px;
	margin-top: 60px;
}


#info {
	text-align: center;
	
}

#info i{
	padding-right: 7px;
	padding-left: 7px;
}

section{
	color: black;
	
}
 
.frame {
	padding-top:30px;
	}

.geoInfo {
	font-size: 0.9em;
	text-align:center;
	margin-top: 50px;
}
 
 #screen button {
	 padding: 0.5px 1.5px;
	 font-size: 0.6em;
	 display: block;
	 
 }
 
 #screen .temp {
	 vertical-align: middle;
font-size: 2em;
 }
 
 .description {
	 font-size: 1.9em;
 }

 div#map {
	 position: relative;
 }
 


 
 .date {
	float:left;
	font-size: 1.2em;
	padding-bottom: 25px;
 }

.city {
	float: right;
}

.clearFloat {
	clear: both;
}

#loader {
	padding-top: 50px;
	padding-bottom: 30px;
	
	width: 100%;
	height: 100%;
	text-align: center;
	
}


#screen {
	position: relative;
	
}

footer {
	background-color: #383737;
	height: 40px;
	color: #1885a3;
	font-size: 0.9em;
	margin-top: 40px;
	margin-bottom: 0 !important;

}

footer  span  {
	display: inline-block;
	vertical-align: middle;
	margin-top: 6px;
	float: left;
	margin-bottom: 0 !important;
	
}

ooter  span  p{
	margin-bottom: 0 !important;
}


#contact {
	float: right;
}



footer a:focus, a:hover {
	text-decoration: none;
}

@media only screen and (max-width: 786px) {
    body {
		font-size: 1.2em;
	}
}